<%- contentFor('main') %>
    <section class="atividades" id="main">
        <div class="atividades-content">
            <div class="conteudo-container">
                <div class="lista-atividades">
                    <div class="atividades-titulos">
                        <h2>Atividades de Extensão</h2>
                        <div class="btn-box">
                            <button>Criar Novo Arquivo</button>
                        </div>
                        <div class="text-actions">
                            <h4>Nome</h4>
                            <h4>Ultima Modificação</h4>
                            <h4>Ações</h4>
                        </div>
                    </div>

                    <button class="accordion">
                        <i class="bx bxs-folder-open"></i>Programa
                        </button>
                    <div class="panel"></div>

                    <button class="accordion">
                <i class="bx bxs-folder-open"></i>Projeto
              </button>
                    <div class="panel"></div>

                    <button class="accordion">
                <i class="bx bxs-folder-open"></i>Curso
              </button>
                    <div class="panel"></div>

                    <button class="accordion">
                <i class="bx bxs-folder-open"></i>Evento
              </button>
                    <div class="panel"></div>

                    <button class="accordion">
                <i class="bx bxs-folder-open"></i>Prestação de Serviço
              </button>

                </div>

                </div>
                <div id="aba-preview" class="preview">
                    <div class="preview-box"></div>
                    <img src="images/Exemplo.png" alt="" />
                    <span>Nome: Evento - 1</span>
                    <span>Tamanho: 1.01 MB:</span>
                    <button class="btn-download">Download</button>
                </div>
            </div>
        </div>

        <div id="modal-upload" class="modal-container">
            <div class="modal">
                <button class="fechar">X</button>
                <h3>
                    Insira os dados abaixo para realizar o upload dos certificados
                </h3>
                <form action="" class="form-modal">
                    <label for="">Insira o arquivo abaixo:</label>
                    <input type="file" name="" id="" />
                    <label for="">Insira a quantidade de horas que você deseja
                contabilizar:</label
              >
              <input type="number" name="" id="" />
              <button type="submit">Clique aqui para realizar o upload</button>
            </form>
          </div>
        </div>
      </section>
    </main>
    <script src="/public/js/javascript.js"></script>
  </body>
</html>