<%- contentFor('main') %>
    <section class="atividades">
        <div class="atividades-de-extensao fonte caixa">
            <div class="container-perfilDoAluno">
                <form action="/perfilDoAluno.html" method="POST">
                    <div class="lista-atividades text-box">

                        <div class="atividades-titulos">
                            <h2>Perfil do Aluno</h2>

                        </div>

                        <div class="imagem-aluno">
                            <img src="/images/perfil-sem-foto-220615.png" alt="" title="Troque sua foto de perfil!">
                        </div>
                        <br>
                        <div>
                            <label for="">Nome</label>
                            <input type="text" name="nome" id="nome" value="">
                        </div>
                        <br>
                        <div>
                            <label for="">Sobrenome</label>
                            <input type="text" name="sobrenome" id="sobrenome">
                        </div>
                        <br>
                        <div>
                            <label for="">E-mail </label>
                            <input type="text" name="email" id="email">
                        </div>
                        <br>
                        <div>
                            <label for="">CPF </label>
                            <input type="text" name="cpf" id="cpf">
                        </div>
                        <br>
                        <div>
                            <label for="">Data de Nascimento </label>
                            <input type="date" name="dataNascimento" id="dataNascimento"></div>
                        <br>
                        <div>
                            <label for="">Telefone </label>
                            <input type="text" name="telefone" id="telefone">
                        </div>
                        <br>
                        <div>
                            <label for="">Instituição </label>
                            <input type="text" name="instituicao" id="instituicao"></div>
                        <br>
                        <div>
                            <label for="">Cidade </label>
                            <input type="text" name="cidade" id="cidade">
                        </div>
                        <br>
                        <div>
                            <label for="">Senha </label>
                            <input type="password" name="senha" id="senha">
                        </div>
                        <br> <br>
                        <div class="btn-save">
                            <button type="submit">SALVAR ALTERAÇÕES</button>
                        </div>
                </form>
                </div>
            </div>

        </div>
        </div>
        <div id="modal-upload" class="modal-container">
            <div class="modal">
                <button class="fechar">X</button>
                <h3>
                    Insira os dados abaixo para realizar o upload dos certificados
                </h3>
                <form action="" class="form-modal">
                    <label for="">Insira o arquivo abaixo:</label>
                    <input type="file" name="" id="" />
                    <label for="">Insira a quantidade de horas que você deseja
                contabilizar:</label
              >
              <input type="number" name="" id="" />
              <button type="submit">Clique aqui para realizar o upload</button>
            </form>
          </div>
        </div>
      </section>
    </main>
    <script src="javascript.js"></script>
</body>

</html>